* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #5379CC;
    background: linear-gradient(135deg, #5379CC, #3A4244);
}

header {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.nav-items ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.nav-logo a {
    text-decoration: none;
    color: #fff;
}

.nav-items ul li a {
    text-decoration: none;
    font-weight: 700;
    color: gold;
}

.active {
    color: red !important;
}

/*Hero section style */
.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
    margin-top: 100px;
}

.intro h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 30px;
}

.intro h5 {
    color: gold;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.summary {
    color:#fff;
    font-size: 1.2rem;
    margin-bottom: 40px;
    width: 70%;
}

.hero-btn {
    display: flex;
    gap: 50px;
    margin-top: 80px;

}

.hire-btn, .resume-btn {
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 10px;
    font-weight: 700;
}

.hire-btn {
    background-color: gold;
    color:black;
}

.resume-btn {
    border: 1px solid gold;
    color: gold;

}

/* services section styling  */

.services-container h2 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 50px;
}
.top-service, 
.bottom-service {
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    gap: 50px;
    padding: 0px 50px;
}

.card {
    width: 100%;
    height: 100%;
    background-color:black;
    position: relative;
    display: flex;
    overflow: hidden;
    place-content: center;
    place-items: center;
    border-radius: 20px;
    padding: 200px 50px;
}

.card h1 {
    font-size: 2em;
    z-index: 1;
}

.card::before {
    content: "";
    position: absolute;
    width: 100px;
    background: linear-gradient(180deg, gold, hotpink);
    height: 130%;
    animation: animate 4s linear infinite;
    transition: all 0.3s linear;
}

.card::after {
    content: "";
    position: absolute;
    background-color: darkblue;
    inset: 5px;
    border-radius: 15px;
}



@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform:  rotate(360deg);
    }
}

/* contact section styling */
.contact-me {
    border-radius: 5px;
    background-color: #fff;
    padding:20px 50px;
    width: 50%;
    display: flex;
    margin: 0 auto;
    background-image: url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: 350px 220px;
    background-size: contain;
    margin-bottom: 150px;
}


.contact {
    margin-top: 50px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

input[type=text], input[type=email], input[type=number], textarea {
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid gold;

}

h4 {
    margin: 180px;
    margin-top: 25px;
    margin-bottom: 35px;
    font-weight:700;
}

label {
    font-weight: 700;
}
 
.ash {
    color: red;
}

button {
    float: right;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid gold;
    background-color: #fff;
    font-weight: 700;
    
}

/* footer styling */
footer {
    color:#fff;
    display: flex;
    justify-content: space-around;
    height: 90px;
    padding: 20px;
    bottom: 0;
    margin-top: 80px;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    gap: 100px;
    font-size: 14px;
}

.fb-icon, .twitter, .instagram, .whatsApp {
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    padding: 4px;
}



